.footer-contact ul {
  padding: 0;
}
.footer-contact ul li {
  margin-bottom: 0.5em;
  list-style: none;
}
.footer-contact a {
  text-decoration: none;
  color: #ffffff;
  background-color: inherit;
  font-weight: 700;
}
.footer-contact a:active, .footer-contact a:focus, .footer-contact a:hover {
  color: inherit;
  background-color: inherit;
  text-decoration: underline;
}