// colors
$white: #ffffff;
$black: #000000;
$primary-color: #cc2a00;
$secondary-color: #008068;
$tertiary-color: #e6eee0;
$cream: #fbf5ee;
$grey-200: #767775;
$text-color: #464646;
$pink: #d93760;

// Fonts
$primary-font: "Source Sans Pro", Verdana, sans-serif;
$secondary-font: "Scope One", Georgia, serif;