<div class="promoted-items">
  <div class="promoted-items__left">
    {% block content_single %}{% endblock %}
  </div>
  <div class="promoted-items__right">
    {% block content %}{% endblock %}
  </div>
</div>